[user]
	email = abraxas678@gmail.com
	name = abraxas678
[core]
	excludesFile = /home/abraxas678/.gitignore
[remind]
	paths = /volume2/docker_final/setup_new/*,/volume2/docker/utils/*,/root/*,/volume2/docker_final/jdownloader
